* {
  margin:0;
  padding:0;
  border:0;
}


div#header {
  height:60px;
  background-color:#F1F1F1;
  color:#0066CC;
  border-style:none;
  text-align:center;
  /*text-indent:10px;*/
  margin-bottom:10px;
}

div#main {
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
  height:auto!important;
  min-height:1000px;
}

div#footer {
  text-align:center;
  background-color:#F1F1F1;
}

input {
  font-size:20px;
  color:#0000FF;
}

body {
  font-family: \5FAE\8F6F\96C5\9ED1;
}

p {
  padding:5px;
}

.mystate {
  font-size:16px;
  color:#606060;
}

h1 {
  margin:0;
  font-size:45px;
}

h2 {
  margin-bottom:0;
  font-size:35px;
}

h3 {
  margin-bottom:0;
  font-size:25px;
}
  
ol {
  padding-left:30px;
  padding-right:30px;
}

a:link {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#FF4500;
  text-decoration:underline;
}

table,td,th {
  border:1px solid #C9C9C9;
}

table {
  border-collapse:collapse;
  width:100%;
}

th {
  background-color:#CDE5FC;
  cursor:pointer;
  padding:5px;
}

.yellow {
  background-color:#FCFC77;
}

td {
  padding:5px;
}

caption {
  font-weight:bold;
  text-align:left;
  background-color:#F1F1F1;
}

#stockTable {
  text-align:right;
}

#historytable {
  text-align:right;
}

#indexhead {
  text-align:center;
}
