div#container {
  width:1000px;
  margin:0 auto;

}

div#header {
  background-color:#DAA520;
  color:#F5F5F5;
  text-align:center;
  padding:5px;
  margin-top:20px;
  margin-bottom:5px;
}

div#footer {
  font-size:5px;
  text-align:center;
  background:#D6D9E0;
}

input {
  font-size:20px;
  color:#0000FF;
}

body {
  font-family: \5FAE\8F6F\96C5\9ED1;
  background:#f9f9f9  url(holder.gif) top center repeat-y;
}

h1 {
  margin:0;
  font-size:45px;
}

h2 {
  margin-bottom:0;
  font-size:35px;
}

h3 {
  margin-bottom:0;
  font-size:25px;
}
  
ul {
  margin:0;
}

li {
  list-style:none;
  font-size:25px;
}

a:link {
  color:#0000FF;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#0000FF;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

table,td,th {
  border:1px solid #D6D9E0;
}

table {
  border-collapse:collapse;
  width:100%;
}

th {
  height:50px;
}

td {
  padding:5px;
}

caption {
  font-weight:bold;
  text-align:left;
  background:#D6D9E0;
}

#stocktable {
  text-align:right;
  font-weight:bold;
}

#sthead {
  background-color:#D4EEFF;
  font-weight:bold;
}

#indexhead {
  font-weight:bold;
}
