div#container {
  width:90%;
  margin:0 auto;
}

div#header {
  background-color:#DAA520;
  color:#F5F5F5;
  text-align:center;
  padding:5px;
  margin-top:20px;
  margin-bottom:5px;
}

input {
  font-size:20px;
  color:#0000FF;
}

body {
  font-family: sans-serif;
}

h1 {
  margin-bottom:0;
  font-size:45px;
}

h2 {
  margin-bottom:0;
  font-size:35px;
}

h3 {
  margin-bottom:0;
  font-size:25px;
}
  
ul {
  margin:0;
}

li {
  list-style:none;
  font-size:25px;
}

a {
  font-weight:bold;
}

table,td,th {
  border:1px solid black;
}

table {
  border-collapse:collapse;
  width:100%;
}

th {
  height:50px;
}

td {
  padding:5px;
}

#stocktable {
  text-align:right;
  font-weight:bold;
}

#sthead {
  font-weight:bold;
}

#indexhead {
  font-weight:bold;
}
