* {
  margin:0;
  padding:0;
  border:0;
}

.container {
  width:100%;
}

.header {
  height:60px;
  background-color:#F1F1F1;
  color:#0066CC;
  border-style:none;
  text-align:center;
  /*text-indent:10px;*/
  margin-bottom:10px;
}

.main {
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
  height:auto!important;
  min-height:900px;
}

.footer {
  text-align:center;
  background-color:#F1F1F1;
}

.hqtabledisplay {
  display:none;
}

.lsgzdisplay {
  display:none;
}

.morestock > button {
  width:100%;
  cursor:pointer;
  color:#0066CC;
  background-color:#F1F1F1;
  padding:5px;
}

input {
  font-size:20px;
  color:#0000FF;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial,sans-serif;
}

p {
  padding:5px;
}

.mystate {
  font-size:16px;
  color:#606060;
  min-height:760px; /*（解决ie8.9.ff.chrome）*/
  *+height:100%;  /*（解决ie7）*/
  _height:760px; /*（解决ie6） ie6超出自动溢出 */
}

h1 {
  margin:0;
  font-size:45px;
}

h2 {
  margin-bottom:0;
  font-size:35px;
}

h3 {
  margin-bottom:0;
  font-size:25px;
}
  
ol {
  padding-left:30px;
  padding-right:30px;
}

a:link {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#FF4500;
  text-decoration:underline;
}

table,td,th {
  border:1px solid #C9C9C9;
}

table {
  border-collapse:collapse;
  width:100%;
}

th {
  background-color:#CDE5FC;
  cursor:pointer;
  padding:5px;
}

.yellow {
  background-color:#FCFC77;
}

td {
  padding:5px;
}

caption {
  padding:2px;
  font-weight:bold;
  text-align:left;
  background-color:#F1F1F1;
}

#stockTable {
  text-align:right;
}

#historyTable {
  text-align:right;
}

#indexHead {
  text-align:center;
}
